h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}
.mentionslegales{
    font-family: var(--font-sans);
    font-weight: var(--font-weight-moyen);
    max-width: 70rem;
    margin-inline: auto;
}

.infoediteur{
    color: rgb(16, 24, 40);
    font-weight: var(--font-weight-titre);
    line-height: 1.25;
    font-size: var(--size-text-titre);
    margin-bottom: calc(var(--spacing) * 6);
    font-family: var(--font-sans);
    cursor: default;
    max-width: 70rem;
    margin-inline: auto;
    margin-top: 7rem;
}

@media (max-width: 768px) {
}