.admin-container { 
    max-width: 1000px; 
    margin: 40px auto; 
    padding: 20px; 
    font-family: var(--font-sans); 
    background: var(--background); 
    border-radius: 1rem;
    border: 1px solid var(--color-gray);
    box-shadow: 0 4px 6px var(--color-box-shadow-black); 
    color : var(--color-dark-gray);
}
.admin-header { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 20px; 
}
.btn-add { 
    background-color: var(--primary-color); 
    color: var(--background); 
    padding: 10px 15px; 
    text-decoration: none; 
    border-radius: calc(var(--radius) + 4px); 
    font-weight: bold; 
}
.admin-table { 
    width: 100%; 
    margin-top: 20px;
    border-collapse: collapse; 
}
.admin-table th, .admin-table td { 
    padding: 12px; 
    border: 1px solid var(--color-muted-bg-hover); 
    text-align: left; 
    color: var(--color-dark-gray);
}
.admin-table th { 
    background-color: var(--background); 
}
.btn-action { 
    padding: 6px 10px; 
    text-decoration: none; 
    color: var(--background); 
    border-radius: 4px; 
    font-size: 14px; 
    margin-right: 5px; 
}
.btn-edit { 
    background-color: #007bff; 
}
.btn-delete { 
    background-color: #dc3545; 
}
.btn-note { 
    background-color: #ffe100; 
}
.BoxRechercher {
   
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 15px 20px -5px #0000001a, 0 8px 10px -6px #0000001a;
    padding: calc(var(--spacing) * 2);
    background-color: var(--background);
    border-color: var(--color-gray);
    border-style: solid;
    border-width: 1px;
    border-radius: 1rem;
    gap: calc(var(--spacing) * 4);
    transition: all 0.3s cubic-bezier(.4, 0, .2, 1);
    
    position: static; 
    transform: none;
    margin: 0;
}

.input1{
    display: flex;
    border-bottom-style: solid;
    border-bottom-width: 0;
    border-right-style: solid;
    border-right-width: 1px;
    padding-block: calc(var(--spacing) * 3);
    padding-inline: calc(var(--spacing) * 4);
    border-color: var(--color-gray);
    gap: calc(var(--spacing) * 3);
    align-items: center;
    flex: 1;
    font-family: var(--font-sans);
}
.inputTXT{
    color: var(--color-light-gray); 
    width: 100%;
    outline: none;
    border: none;
}

.RechercherBTN{
    transition-property: all;
    transition: cubic-bezier(.4, 0, .2, 1);
    transition-duration: 0.15s;
    color: var(--background);
    white-space: nowrap;
    font-weight: var(--font-weight-nom);
    padding-block: calc(var(--spacing) * 3);
    padding-inline: calc(var(--spacing) * 8);
    background-color: var(--primary-color);
    border-radius: calc(var(--radius)  + 4px);
    border-color: #0000;
    cursor: pointer;
}