<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}CESITonStage{% endblock %}</title>
    <link
    href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Sonsie+One"
    rel="stylesheet"
    type="text/css" />
    <link rel="stylesheet" href="assets/css/styleAnimationLogoNavBarre.css"/>
    <link rel="stylesheet" href="assets/css/styleToogleThemeMode.css"/>
    <link rel="stylesheet" href="assets/css/styleDarkMode.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="./includes/image/logo.png">
    <!-- Les trois lignes ci‑dessous sont un correctif pour que la sémantique
        HTML5 fonctionne correctement avec les anciennes versions de
        Internet Explorer-->
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
</head>
<body>
    {% include "header.twig" %}
    <main>
        {% block content %}
        {% endblock %}

    </main>

    {% include "footer.twig" %}

    <script src="assets/js/darkToogle.js"></script>
</body>
</html>