{% extends "base.twig" %}

{% block title %}Créer un compte{% endblock %}

{% block content %}

<link rel="stylesheet" href="assets/css/stylelogin.css"/>
    <main class="connexion-container">
    <section class="connexion-card">
        <header class="connexion-header">
            <h1>Créer un compte</h1>
            <p>Créer un compte étudiant pour plus de fonctionnalitées</p>
        </header>

        <form class="connexion-form" method="POST" action="register.php" onsubmit="return checkPassword()">
            <input type="hidden" name="type" value="COMPTE">
            <div class="form-row">
                <div class="form-line">
                    <label for="nom">Nom</label>
                    <input type="text" name="nom" id="nom" placeholder="Zidane" required>
                </div>

                <div class="form-line">
                    <label for="prenom">Prénom</label>
                    <input type="text" name="prenom" id="prenom" placeholder="Zinédine" required>
                </div>
            </div>

            <div class="form-line">
                <label for="username">Email</label>
                <input
                    type="email"
                    name="email"
                    id="username"
                    placeholder="zizouzidane@gmail.com"
                    required
                />
            </div>

            <div class="form-line">
                <label for="password">Définissez un mot de passe   </label>
                <input
                    type="password"
                    name="password"
                    id="password"
                    minlength="8" 
                    pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[^A-Za-z0-9]).{8,}$" 
                    placeholder="••••••••"
                    required
                /> <!-- (?=.*[A-Z]) → au moins 1 majuscule
                        (?=.*\d) → au moins 1 chiffre
                        (?=.*[^A-Za-z0-9]) → au moins 1 caractère spécial
                        {8,} → 8 caractères minimum-->
                <br>      
                <small class="password-hint">
                     8 caractères minimum, <strong>1 majuscule</strong>, <strong>1 chiffre</strong> et <strong>1 caractère spécial</strong>
                </small>
            </div>

            <div class="form-line">
                <label for="password">Confirmez votre mot de passe</label>
                <input
                    type="password"
                    id="confirm"
                    minlength="8"
                    pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[^A-Za-z0-9]).{8,}$"
                    placeholder="••••••••"
                    required
                />
                <span id="error" style="color:#914941;"></span><br><br>
            </div>

                    <!-- BLOC COORDONNÉES -->
            <h3>Coordonnées</h3>

            <div class="form-line">
                <label>Sexe</label>
                <div class="form-row">
                    <label>
                        <input type="radio" name="sexe" value="0" required> M.
                    </label>

                    <label>
                        <input type="radio" name="sexe" value="1"> Mme.
                    </label>
                </div>
            </div>

            <div class="form-line">
                <label for="naissance">Date de naissance</label>
                <input
                    type="text"
                    name="date_naissance"
                    id="naissance"
                    placeholder="jj/mm/aaaa"
                    pattern="\d{2}/\d{2}/\d{4}"
                    required
                />
            </div>

            <div class="form-line">
                <label for="telephone">Téléphone</label>
                <input
                    type="tel"
                    name="telephone"
                    id="telephone"
                    placeholder="0606060606"
                    required
                />
            </div>

            <div class="form-line">
                <label for="ville">Ville</label>
                <input
                    type="text"
                    name="ville"
                    id="ville"
                    placeholder="Orléans"
                    required
                />
            </div>

            <button type="submit" class="btn-primary btn-full">
                Créer un compte
            </button>

        </form>
        <script>
            function checkPassword() {
                const pass = document.getElementById("password").value;
                const confirm = document.getElementById("confirm").value;
                const error = document.getElementById("error");

                if (pass !== confirm) {
                error.textContent = "⚠️ Les mots de passe ne correspondent pas !";
                return false; // empêche l'envoi
                }

                error.textContent = "";
                return true; // autorise l'envoi
            }
        </script>

        <div class="connexion-links">
            <a href="index.php?page=connexion">← Retour</a>
        </div>
    </section>
    </main>

{% endblock %}