{% extends "base.twig" %}
{% block title %}
Accueil
{% endblock %}
{% block content %}
<link rel="stylesheet" href="assets/css/style.css"/>
        <section class="Section">
            <div class="InsideSection">
                <div style="opacity: 1;transform: none;">
                    <h1 class="TxtBlack animated-title-glitch">Stage   <span class="TxtBlue">Trouvé       →  </span>  Stress  <span class="TxtBlue"> Oublié !  </span></h1>
                    <p class="ParaLight">Besoin d'un stage pour valider ton année mais tu ne sais pas par où commencer ? Explore notre catalogue de missions, filtre ce qui te plaît vraiment, et balance tes candidatures en toute détente. On gère la recherche, tu gères l'entretien !</p>
                        <form action="index.php" method="GET" class="BoxRechercher">
                            <input type="hidden" name="page" value="offres">
                            <div class="input1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svgLoop" aria-hidden="true">
                                    <path d="m21 21-4.34-4.34"></path>
                                    <circle cx="11" cy="11" r="8"></circle>
                                </svg>
                                <input type="text" name="metier" placeholder="Métier, compétence..." class="inputTXT">
                            </div>
                            <div class="input2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svgLoop" aria-hidden="true">
                                    <path d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0"></path>
                                    <circle cx="12" cy="10" r="3"></circle>
                                </svg>
                                <input type="text" name="ville" placeholder="Ville ou région" class="inputTXT">
                            </div>
                            <div>
                                <button type="submit" class="RechercherBTN">
                                    Rechercher
                                </button>
                            </div>
                        </form>
                    <div class="barrePopulaire">
                        <span class="populaire">Populaire :</span>
                        <span class="populaireTXT">Développement Web</span>
                        <span class="populaireTXT">Marketing</span>
                        <span class="populaireTXT">Design UX</span>
                    </div>
                </div>
                
                <div class="planete">
                    <script type="importmap">
                        {
                            "imports": {
                                "three": "https://cdn.jsdelivr.net/npm/three@0.161/build/three.module.js",
                                "jsm/": "https://cdn.jsdelivr.net/npm/three@0.161/examples/jsm/"
                            }
                        }
                    </script>
                    
                    <script type="module" src="index.js"></script>
                </div>
            </div>
        </section>
        {% if session.user_id is defined and session.user_id == 66 %}
        <a href="?page=powerpoint" class="btn-powerpoint">Voir le meilleur powerpoint !</a>
        {% endif %}

             
        
{% endblock %}
